[submodule ".vim/pack/buffergator/start/vim-buffergator"]
	path = .vim/pack/buffergator/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule ".vim/pack/fern/start/vim-fern"]
	path = .vim/pack/fern/start/vim-fern
	url = https://github.com/lambdalisue/vim-fern.git
