### all ignore ###
/*
/.**

### WHITE LIST ###
!/.github/
!/.github/**

!/.bashrc

!/.gitconfig_shared

!/.config/

!/.config/nvim/
!/.config/nvim/**

!/.config/yazi/
!/.config/yazi/**
# should ignore ?
/.config/yazi/package.toml
/.config/yazi/plugins/**

!/.vimrc
!/.vim/
!/.vim/**

!/.bin/
!/.bin/**

!/.local/
!/.local/bin/

!/.opt/
!/.opt/scripts/
!/.opt/scripts/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.gitmodules

### BLACK LIST ###
.config/nvim/lazy-lock.json
