### all ignore ###
/*
/.**

### WHITE LIST ###
!/.github/
!/.github/**

!/.bashrc

!/.gitconfig_shared

!/.config/

!/.config/nvim/
!/.config/nvim/**


!/.vimrc
!/.vim/
!/.vim/**

!/.bin/
!/.bin/**

!/.local/
!/.local/bin/

!/README.md
!/LICENSE
!.gitignore
!.gitkeep

### BLACK LIST ###
.config/nvim/lazy-lock.json
